*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}

.flexSpace {
  display: flex;
  justify-content: space-between;
}

.flexSpaceAlign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexAlign {
  display: flex;
  align-items: center;
}

.flexSpaceAlign-C {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexSpace-C {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 80%;
  margin: auto;
}

@media only screen and (max-width: 550px) {
  .container {
    max-width: 95%;
    margin: auto;
  }
}
.header__info {
  background-color: #000;
  color: #fff;
  padding: 7px 0;
}
.header__topInfo {
  font-weight: 500;
}
.header__topInfo-address, .header__topInfo-phoneNumber {
  margin-right: 2em;
}

@media only screen and (max-width: 600px) {
  .header__info {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  .header__topInfo {
    font-size: 0.65rem;
  }
  .header__topInfo-address, .header__topInfo-phoneNumber {
    margin-right: 1.7em;
  }
}
.header__logoNavigation {
  padding: 0.7rem 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.header__logoText {
  color: #00A14E;
  margin-left: 0.3rem;
  width: 9rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.header__logoImg {
  width: 5rem;
}

@media only screen and (max-width: 850px) {
  .header__logoNavigation {
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .header__logoText {
    color: #00A14E;
    margin-left: 0.4rem;
    width: 8rem;
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  .header__logoImg {
    width: 4.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .header__logoNavigation {
    padding: 0.4rem 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .header__logoText {
    color: #00A14E;
    margin-left: 0.35rem;
    width: 8rem;
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .header__logoImg {
    width: 4rem;
  }
}
@media only screen and (min-width: 1330px) {
  .header__navigation {
    display: block;
  }
  .header__hamburger {
    display: none;
  }
  .header__navigationList {
    position: relative;
  }
  .header__mainNav:nth-child(1) {
    max-width: 89.89px;
  }
  .header__mainNav:nth-child(2) {
    max-width: 128.76px;
  }
  .header__mainNav:nth-child(3) {
    max-width: 102.34px;
  }
  .header__mainNav:nth-child(4) {
    max-width: 123.59px;
  }
  .header__mainNav:nth-child(5) {
    max-width: 167.28px;
  }
  .header__mainNav:nth-child(6) {
    max-width: 141.9px;
  }
  .header__mainNav:nth-child(7) {
    max-width: 79.46px;
  }
  .header__navigationList {
    max-width: 900px;
  }
  .header__mainNav {
    overflow: hidden;
    height: 83.2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__navigationLink {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 2rem 1.5rem;
    white-space: nowrap;
    transition: 100ms linear;
    transition-property: transform, font-weight, text-shadow;
  }
  .header__navigationLink i {
    font-size: 0.6rem;
    margin-left: 0.25rem;
  }
  .header__navigationLink--active {
    transform: scale(1.35);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__navigationLink:hover {
    transform: scale(1.35);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header .header__connect {
    display: none;
  }
}
@media only screen and (min-width: 1110px) and (max-width: 1330px) {
  .header__navigationList {
    max-width: 900px;
  }
  .header__mainNav {
    overflow: hidden;
    height: 83.2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__navigationLink {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 2rem 1.5rem;
    white-space: nowrap;
    transition: 100ms linear;
    transition-property: transform, font-weight, text-shadow;
  }
  .header__navigationLink i {
    font-size: 0.6rem;
    margin-left: 0.25rem;
  }
  .header__navigationLink--active {
    transform: scale(1.35);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__navigationLink:hover {
    transform: scale(1.35);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__navigationLink {
    padding: 2rem 0.75rem;
    font-size: 0.95rem;
  }
  .header__navigationLink i {
    font-size: 0.6rem;
    margin-left: 0.25rem;
  }
  .header__navigationLink--active {
    transform: scale(1.18);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__navigationLink:hover {
    transform: scale(1.18);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__navigationList {
    position: relative;
  }
  .header__hamburger {
    display: none;
  }
  .header__mainNav:nth-child(1) {
    max-width: 63.89px;
  }
  .header__mainNav:nth-child(2) {
    max-width: 101.55px;
  }
  .header__mainNav:nth-child(3) {
    max-width: 75.78px;
  }
  .header__mainNav:nth-child(4) {
    max-width: 96.63px;
  }
  .header__mainNav:nth-child(5) {
    max-width: 138.25px;
  }
  .header__mainNav:nth-child(6) {
    max-width: 114.05px;
  }
  .header__mainNav:nth-child(7) {
    max-width: 76.84px;
  }
  .header .header__connect {
    display: none;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1110px) {
  .header__navigationList {
    top: 6.35rem;
  }
  .header__mainNav {
    height: 5.3rem;
  }
  .header__navigationLink {
    padding: 2rem 60rem 2rem 0;
  }
  .header--active {
    font-size: 1.2rem;
    padding-bottom: 1.85rem;
  }
  .header__navigationList {
    display: block;
  }
  .header__hamburger {
    display: block;
  }
  .header__dropdown {
    display: block;
  }
  .header__navPosition {
    position: relative;
  }
  .header__navigationList {
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 0 10% 0 10%;
    transform: translateX(100%);
    transition: transform 0.5s linear;
  }
  .header__toggleNav {
    transform: translateX(0%);
  }
  .header__mainNav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    transition: height 0.6s linear;
  }
  .header__mainNav:last-child .header__navigationLink {
    border-bottom: none;
  }
  .header__navigationLink {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
  .header__navigationLink i {
    font-size: 0.6rem;
    margin-left: 0.25rem;
  }
  .header__navigationLink--active {
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__toggleOpacity {
    opacity: 1;
  }
  .header__connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
  .header__connectHead {
    font-size: 2rem;
    color: #fff;
  }
  .header__social {
    display: flex;
    width: 13rem;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 0rem;
  }
  .header__socialLink:last-child {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
  }
  .header__socialLink img {
    width: 2rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 850px) {
  .header__navigationList {
    top: 5.45rem;
  }
  .header__mainNav {
    height: 5rem;
  }
  .header__navigationLink {
    padding: 1.8rem 60rem 1.8rem 0;
    font-size: 1rem;
  }
  .header--active {
    font-size: 1.1rem;
    padding-bottom: 1.25rem;
  }
  .header__navigationList {
    display: block;
  }
  .header__hamburger {
    display: block;
  }
  .header__dropdown {
    display: block;
  }
  .header__navPosition {
    position: relative;
  }
  .header__navigationList {
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 0 10% 0 10%;
    transform: translateX(100%);
    transition: transform 0.5s linear;
  }
  .header__toggleNav {
    transform: translateX(0%);
  }
  .header__mainNav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    transition: height 0.6s linear;
  }
  .header__mainNav:last-child .header__navigationLink {
    border-bottom: none;
  }
  .header__navigationLink {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
  .header__navigationLink i {
    font-size: 0.6rem;
    margin-left: 0.25rem;
  }
  .header__navigationLink--active {
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__toggleOpacity {
    opacity: 1;
  }
  .header__connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
  .header__connectHead {
    font-size: 1.8rem;
    color: #fff;
  }
  .header__social {
    display: flex;
    width: 13rem;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 0rem;
  }
  .header__socialLink:last-child {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
  }
  .header__socialLink img {
    width: 2rem;
  }
}
@media only screen and (max-width: 550px) {
  .header__navigationList {
    top: 4.75rem;
  }
  .header__mainNav {
    height: 4.1rem;
  }
  .header__navigationLink {
    padding: 1.5rem 60rem 1.5rem 0;
    font-size: 0.9rem;
  }
  .header--active {
    font-size: 1.1rem;
    padding-bottom: 1.25rem;
  }
  .header__navigationList {
    display: block;
  }
  .header__hamburger {
    display: block;
  }
  .header__dropdown {
    display: block;
  }
  .header__navPosition {
    position: relative;
  }
  .header__navigationList {
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 0 10% 0 10%;
    transform: translateX(100%);
    transition: transform 0.5s linear;
  }
  .header__toggleNav {
    transform: translateX(0%);
  }
  .header__mainNav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    transition: height 0.6s linear;
  }
  .header__mainNav:last-child .header__navigationLink {
    border-bottom: none;
  }
  .header__navigationLink {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
  .header__navigationLink i {
    font-size: 0.6rem;
    margin-left: 0.25rem;
  }
  .header__navigationLink--active {
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__toggleOpacity {
    opacity: 1;
  }
  .header__connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 5rem;
  }
  .header__connectHead {
    font-size: 1.5rem;
    color: #fff;
  }
  .header__social {
    display: flex;
    width: 11rem;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 0rem;
  }
  .header__socialLink:last-child {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
  }
  .header__socialLink img {
    width: 1.8rem;
  }
}

.header__hamLogo {
  width: 1.7rem;
  height: 0.17rem;
  background-color: #fff;
  position: relative;
}
.header__hamLogo::before {
  content: "";
  width: 1.7rem;
  height: 0.17rem;
  background-color: #fff;
  position: absolute;
  top: 0.5rem;
  left: 0;
}
.header__hamLogo::after {
  content: "";
  width: 1.7rem;
  height: 0.17rem;
  background-color: #fff;
  position: absolute;
  top: -0.5rem;
  left: 0;
}

.header__hamburger {
  padding: 1.5rem 0 1.5rem 1.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .header__hamLogo {
    width: 1.4rem;
    height: 0.15rem;
    background-color: #fff;
    position: relative;
  }
  .header__hamLogo::before {
    content: "";
    width: 1.4rem;
    height: 0.15rem;
    background-color: #fff;
    position: absolute;
    top: 0.4rem;
    left: 0;
  }
  .header__hamLogo::after {
    content: "";
    width: 1.4rem;
    height: 0.15rem;
    background-color: #fff;
    position: absolute;
    top: -0.4rem;
    left: 0;
  }

  .header__hamburger {
    padding: 1.5rem 0 1.5rem 1.5rem;
    cursor: pointer;
  }
}
@media only screen and (max-width: 550px) {
  .header__hamLogo {
    width: 1.1rem;
    height: 0.11rem;
    background-color: #fff;
    position: relative;
  }
  .header__hamLogo::before {
    content: "";
    width: 1.1rem;
    height: 0.11rem;
    background-color: #fff;
    position: absolute;
    top: 0.3rem;
    left: 0;
  }
  .header__hamLogo::after {
    content: "";
    width: 1.1rem;
    height: 0.11rem;
    background-color: #fff;
    position: absolute;
    top: -0.3rem;
    left: 0;
  }

  .header__hamburger {
    padding: 1.5rem 0 1.5rem 1.5rem;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1330px) {
  .header__dropdown {
    position: absolute;
    top: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 12rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s linear;
    transition-delay: 50ms;
  }
  .header__mainNav--dropdown:hover .header__dropdown {
    visibility: visible;
    opacity: 1;
  }
  .header__subNav {
    max-width: 11.5rem;
    max-height: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__subNavLink {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 5rem 1rem 5rem;
    white-space: nowrap;
    font-size: 0.9rem;
    transition: 100ms linear;
    transition-property: transform, font-weight, text-shadow;
  }
  .header__subNavLink:hover {
    transform: scale(1.18);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__subNavLink--active {
    transform: scale(1.18);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }

  .header__dropdown--aboutUs {
    left: 6.1rem;
  }
  .header__dropdown--services {
    left: 20.4rem;
  }
  .header__dropdown--newsNotice {
    left: 27.7rem;
  }
  .header__dropdown--downloads {
    left: 38.5rem;
  }
}
@media only screen and (min-width: 1110px) and (max-width: 1330px) {
  .header__dropdown {
    position: absolute;
    top: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 12rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s linear;
    transition-delay: 50ms;
  }
  .header__mainNav--dropdown:hover .header__dropdown {
    visibility: visible;
    opacity: 1;
  }
  .header__subNav {
    max-width: 11.5rem;
    max-height: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__subNavLink {
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 5rem 1rem 5rem;
    white-space: nowrap;
    font-size: 0.9rem;
    transition: 100ms linear;
    transition-property: transform, font-weight, text-shadow;
  }
  .header__subNavLink:hover {
    transform: scale(1.18);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }
  .header__subNavLink--active {
    transform: scale(1.18);
    font-weight: 600;
    text-shadow: 0 1px 10px #fff;
  }

  .header__dropdown--aboutUs {
    left: 4.1rem;
  }
  .header__dropdown--services {
    left: 15.3rem;
  }
  .header__dropdown--newsNotice {
    left: 21rem;
  }
  .header__dropdown--downloads {
    left: 29.8rem;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1110px) {
  .header__mainNav--dropdown {
    position: relative;
  }
  .header__dropdown {
    position: absolute;
    width: 100%;
  }
  .header__subNav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    transition: height 0.4s linear;
  }
  .header__subNav:last-child .header__navigationLink {
    border-bottom: none;
  }
  .header__subNavLink {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
  }
  .header__subNavLink--active {
    text-shadow: 0 1px 10px #fff;
  }

  .header__dropdown {
    left: 9%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s linear;
    transition-property: top opacity visibility;
  }
  .header__dropdown--aboutUs {
    top: 35%;
  }
  .header__dropdown--services {
    top: 25%;
  }
  .header__dropdown--newsNotice {
    top: 35%;
  }
  .header__dropdown--downloads {
    top: 32%;
  }
  .header__dropdown--aboutUsUp {
    top: 25.5%;
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--servicesUp {
    top: 19%;
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--newsNoticeUp {
    top: 33%;
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--downloadsUp {
    top: 25.5%;
    opacity: 1;
    visibility: visible;
  }
  .header__subNav {
    height: 5.3rem;
  }
  .header__subNavLink {
    padding: 2rem 60rem 2rem 0;
    font-size: 1rem;
  }

  .lT-abUsDropDown-mNH {
    height: 21.3rem;
  }

  .lT-serDropDown-mNH {
    height: 26.4rem;
  }

  .lT-nNDropDown-mNH {
    height: 16.8rem;
  }

  .lT-dolDropDown-mNH {
    height: 21.3rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 850px) {
  .header__mainNav--dropdown {
    position: relative;
  }
  .header__dropdown {
    position: absolute;
    width: 100%;
  }
  .header__subNav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    transition: height 0.4s linear;
  }
  .header__subNav:last-child .header__navigationLink {
    border-bottom: none;
  }
  .header__subNavLink {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
  }
  .header__subNavLink--active {
    text-shadow: 0 1px 10px #fff;
  }

  .header__dropdown {
    left: 9%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s linear;
    transition-property: top opacity visibility;
  }
  .header__dropdown--aboutUs {
    top: 35%;
  }
  .header__dropdown--services {
    top: 25%;
  }
  .header__dropdown--newsNotice {
    top: 35%;
  }
  .header__dropdown--downloads {
    top: 32%;
  }
  .header__dropdown--aboutUsUp {
    top: 25.5%;
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--servicesUp {
    top: 19%;
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--newsNoticeUp {
    top: 33%;
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--downloadsUp {
    top: 25.5%;
    opacity: 1;
    visibility: visible;
  }
  .header__subNav {
    height: 5rem;
  }
  .header__subNavLink {
    padding: 1.8rem 60rem 1.8rem 0;
    font-size: 1rem;
  }

  .lT-abUsDropDown-mNH {
    height: 19.9rem;
  }

  .lT-serDropDown-mNH {
    height: 24.5rem;
  }

  .lT-nNDropDown-mNH {
    height: 14.7rem;
  }

  .lT-dolDropDown-mNH {
    height: 19.9rem;
  }
}
@media only screen and (max-width: 550px) {
  .header__mainNav--dropdown {
    position: relative;
  }
  .header__dropdown {
    position: absolute;
    width: 100%;
  }
  .header__subNav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    transition: height 0.4s linear;
  }
  .header__subNav:last-child .header__navigationLink {
    border-bottom: none;
  }
  .header__subNavLink {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
  }
  .header__subNavLink--active {
    text-shadow: 0 1px 10px #fff;
  }

  .header__dropdown {
    left: 9%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s linear;
    transition-property: top opacity visibility;
  }
  .header__dropdown--aboutUs {
    top: 35%;
  }
  .header__dropdown--services {
    top: 25%;
  }
  .header__dropdown--newsNotice {
    top: 35%;
  }
  .header__dropdown--downloads {
    top: 32%;
  }
  .header__dropdown--aboutUsUp {
    top: 25.5%;
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--servicesUp {
    top: 19%;
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--newsNoticeUp {
    top: 33%;
    opacity: 1;
    visibility: visible;
  }
  .header__dropdown--downloadsUp {
    top: 25.5%;
    opacity: 1;
    visibility: visible;
  }
  .header__subNav {
    height: 4.1rem;
  }
  .header__subNavLink {
    padding: 1.5rem 60rem 1.5rem 0;
    font-size: 0.9rem;
  }

  .lT-abUsDropDown-mNH {
    height: 16.5rem;
  }

  .lT-serDropDown-mNH {
    height: 20.3rem;
  }

  .lT-nNDropDown-mNH {
    height: 12.3rem;
  }

  .lT-dolDropDown-mNH {
    height: 16.5rem;
  }
}
.hero {
  background-image: url(../Images/Images/Downloads/AGM_minutes/minutes_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
}
.hero__layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero__breadcrum {
  width: 100%;
  padding: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.hero__bcText {
  text-transform: capitalize;
  color: #000;
  font-size: 1rem;
}
.hero__bcSpan1 {
  margin-right: 0.7rem;
}
.hero__bcSpan2 {
  margin-left: 0.7rem;
}
.hero__mainText {
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
}
.hero__heading {
  color: #fff;
  text-transform: capitalize;
  font-size: 3rem;
}
@media only screen and (max-width: 1110px) {
  .hero {
    height: 60vh;
  }
  .hero__mainText {
    height: 35vh;
  }
  .hero__heading {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 850px) {
  .hero {
    height: 50vh;
  }
  .hero__breadcrum {
    padding: 0.4rem 0;
  }
  .hero__bcText {
    font-size: 0.9rem;
  }
  .hero__bcSpan1 {
    margin-right: 0.6rem;
  }
  .hero__bcSpan2 {
    margin-left: 0.6rem;
  }
  .hero__mainText {
    height: 30vh;
  }
  .hero__heading {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .hero {
    height: 16rem;
  }
  .hero__breadcrum {
    padding: 0.3rem 0;
  }
  .hero__bcText {
    font-size: 0.7rem;
  }
  .hero__bcSpan1 {
    margin-right: 0.5rem;
  }
  .hero__bcSpan2 {
    margin-left: 0.5rem;
  }
  .hero__mainText {
    height: 9rem;
  }
  .hero__heading {
    font-size: 1.3rem;
  }
}

.minutes {
  width: 100%;
  margin-top: 7rem;
}
.minutes__container {
  max-width: 65%;
  margin: auto;
}
.minutes__heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
  text-transform: capitalize;
}
.minutes__card {
  width: 100%;
  padding: 2.5rem 4rem;
  background-color: #c4e3e9;
  box-shadow: -7px -7px 10px #f0f5f7, 7px 7px 16px rgba(127, 164, 172, 0.7);
  border-radius: 2rem;
  margin-bottom: 7rem;
}
.minutes__card:last-child {
  margin-bottom: 0;
}
.minutes__card-head {
  font-size: 1.2rem;
  text-transform: capitalize;
  line-height: 2.4rem;
}
.minutes__card-download {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: crimson;
  display: block;
}
.minutes__card-download span {
  text-decoration: underline;
  margin-right: 0.6rem;
}
@media only screen and (max-width: 1110px) {
  .minutes {
    margin-top: 6rem;
  }
  .minutes__container {
    max-width: 75%;
  }
  .minutes__heading {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  .minutes__card {
    padding: 2rem 3rem;
  }
  .minutes__card-head {
    max-width: 75%;
  }
}
@media only screen and (max-width: 850px) {
  .minutes {
    margin-top: 5rem;
  }
  .minutes__container {
    max-width: 85%;
  }
  .minutes__heading {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }
  .minutes__card {
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
  }
  .minutes__card-head {
    font-size: 1.1rem;
  }
  .minutes__card-download {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 550px) {
  .minutes {
    margin-top: 4rem;
  }
  .minutes__container {
    max-width: 95%;
  }
  .minutes__heading {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .minutes__main {
    margin-bottom: 1.5rem;
  }
  .minutes__card {
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
  }
  .minutes__card-head {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
  .minutes__card-download {
    font-size: 0.6rem;
  }
  .minutes__button {
    text-transform: capitalize;
    background-color: #00A14E;
    padding: 0.4rem 0;
    font-size: 0.8rem;
    font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.5);
    border-radius: 0.1rem;
    transition: all 0.2s linear;
  }
  .minutes__button:hover {
    background-color: #15b160;
    color: whitesmoke;
  }
}

.fs {
  margin-top: 7rem;
}
.fs__heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
  text-transform: capitalize;
}
.fs__container {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}
.fs__socialTitle {
  text-transform: capitalize;
  font-size: 1.5em;
}
.fs__social {
  width: 33%;
}
.fs__socialLink img {
  width: 3rem;
}
@media only screen and (max-width: 1110px) {
  .fs {
    margin-top: 6rem;
  }
  .fs__heading {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .fs__socialTitle {
    font-size: 1.3em;
    max-width: 50%;
    line-height: 2rem;
  }
  .fs__social {
    width: 40%;
  }
  .fs__socialLink img {
    width: 3rem;
  }
}
@media only screen and (max-width: 850px) {
  .fs {
    margin-top: 5rem;
  }
  .fs__heading {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .fs__container {
    padding: 2rem 0;
  }
  .fs__socialTitle {
    font-size: 1em;
    line-height: 1.6rem;
  }
  .fs__social {
    width: 45%;
  }
  .fs__socialLink img {
    width: 2rem;
  }
}
@media only screen and (max-width: 550px) {
  .fs {
    margin-top: 4rem;
  }
  .fs__heading {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .fs__container {
    padding: 1rem 0;
  }
  .fs__socialTitle {
    display: none;
  }
  .fs__social {
    width: 100%;
    padding: 0 25%;
  }
  .fs__socialLink img {
    width: 1.5rem;
  }
}

.footer {
  color: #fff;
  background-color: #313030;
}
.footer ul {
  list-style-type: none;
}
.footer__container {
  justify-content: space-between;
}
.footer__top {
  padding: 4rem 0 3rem 0;
}
.footer__section {
  width: 25%;
  flex-direction: column;
  align-items: center;
}
.footer__heading {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.footer__menu {
  position: relative;
  left: 1rem;
}
.footer__menu::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1rem;
  background-color: #fff;
}
.footer__list {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}
.footer__list i {
  margin-right: 0.5rem;
}
.footer__link {
  text-transform: capitalize;
  font-size: 0.8rem;
}
.footer__link:hover {
  color: #00A14E;
}
@media only screen and (min-width: 850px) and (max-width: 1110px) {
  .footer__section:first-child {
    width: 30%;
  }
  .footer__heading {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
  .footer__menu {
    left: 0.8rem;
  }
  .footer__menu::before {
    left: -0.8rem;
  }
  .footer__list {
    margin-bottom: 1rem;
    font-size: 0.7rem;
  }
  .footer__list i {
    margin-right: 0.4rem;
  }
  .footer__link {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 850px) {
  .footer__top {
    padding: 3rem 0 2rem 0;
  }
  .footer__section {
    width: 20%;
  }
  .footer__section:first-child {
    width: 30%;
  }
  .footer__heading {
    margin-bottom: 1.2rem;
    font-size: 1rem;
  }
  .footer__menu {
    left: 0.7rem;
  }
  .footer__menu::before {
    left: -0.7rem;
  }
  .footer__list {
    margin-bottom: 0.8rem;
    font-size: 0.7rem;
  }
  .footer__list i {
    margin-right: 0.4rem;
  }
  .footer__link {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 650px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__top {
    padding: 3rem 0 1rem 0;
  }
  .footer__heading {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  .footer__container {
    padding-left: 1rem;
  }
  .footer__section {
    width: 100%;
    margin-bottom: 2rem;
    align-items: flex-start;
    padding-left: 2rem;
  }
  .footer__section:first-child {
    align-self: flex-start;
    width: 100%;
  }
  .footer__section:first-child li {
    font-size: 0.7rem;
  }
  .footer__link {
    font-size: 0.7rem;
  }
}

.footer__bottom {
  flex-direction: column;
  padding-bottom: 3rem;
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__logoImg {
  width: 8rem;
}
.footer__logoText {
  font-size: 1.5rem;
  color: #00A14E;
  margin-left: 0.8rem;
  width: 15rem;
}
.footer__copy {
  text-align: center;
}
.footer__copyright {
  margin-bottom: 0.8rem;
}
@media only screen and (max-width: 850px) {
  .footer__logo {
    margin-bottom: 1.3rem;
  }
  .footer__logoImg {
    width: 6rem;
  }
  .footer__logoText {
    font-size: 1rem;
    margin-left: 0.7rem;
    width: 11rem;
  }
  .footer__copy {
    font-size: 0.6rem;
  }
  .footer__copyright {
    margin-bottom: 0.5rem;
  }
}