@use 'components/header';
@use 'abstracts/utilities';
@use 'abstracts/media-query';
@use 'abstracts/colors';
@use 'abstracts/mixins';
@use 'components/button';
@use 'abstracts/variables';
@use 'components/footer';
@use 'components/inner-hero';





// ==================================== UNIVERSAL CSS ======================================================

@include utilities.universal; 

// ==================================== UNIVERSAL CSS ======================================================













// ==================================== HEADER ======================================================

@include header.header;

// ==================================== HEADER ======================================================













// ==================================== HERO ======================================================

.hero {
    background-image: url(../Images/Images/News_&_Notice/News_and_stories/hero_2.jpg);
    @include inner-hero.inner-hero;
}

// ==================================== HERO ======================================================











// ==================================== NEWS & STORIES ======================================================
.news {
    width: 100%;
    margin-top: variables.$sectionXMT;

    &__container {
        max-width: 70%;
        margin: auto;
    }

    &__heading {
        font-size: variables.$sectionHeadingFont-X;
        text-align: center;
        margin-bottom: variables.$sectionHeadXMB;
    }

    &__main {
        margin-bottom: 3rem;
        width: 100%;
    }

    &__wrapper {
        margin-bottom: 10rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__wrapper:last-child {
        margin-bottom: 0;
    }

    &__wrapper:nth-child(even) {
        flex-direction: row-reverse;

        .news__img-wrapper {
            align-self: flex-end;
        }
    }

    &__img-container {
        flex-basis: 50%;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__img-wrapper {
        padding: 3rem 3rem;
        background-color: colors.$white;
        box-shadow: 1px 3px 10px rgb(197, 196, 196);
        border-radius: .5rem;
    }

    &__img {
        box-shadow: 2px 6px 10px rgba(colors.$black, .8);
    }

    &__content-container {
        flex-basis: 50%;
    }

    &__content-inner {
        max-width: 75%;
        margin: auto;
        flex-direction: column;
    }

    &__content-heading {
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    &__para {
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    &__readMore {
        align-self: flex-end;
        text-transform: capitalize;
    }

    &__button {
        width: 100%;
        display: block;
        text-align: center;
        margin: auto;
    }

    @include button.readmore;

    @include button.buttons(.5rem 0, 1rem, .5);

    @include media-query.news-stories;
}

// ==================================== NEWS & STORIES ======================================================















// ========================================== FOOTER ======================================================

@include footer.footer;

// ========================================== FOOTER ======================================================
