@use 'variables';

@mixin navbar-listWidth-small () {

    &__mainNav {

        &:nth-child(1) {
            max-width: 63.89px;
        }

        &:nth-child(2) {
            max-width: 101.55px;
        }

        &:nth-child(3) {
            max-width: 75.78px;
        }

        &:nth-child(4) {
            max-width: 96.63px;
        }

        &:nth-child(5) {
            max-width: 138.25px;
        }

        &:nth-child(6) {
            max-width: 114.05px;
        }

        &:nth-child(7) {
            max-width: 76.84px;
        }
    }
}



@mixin navbar-listWidth-big () {
    &__mainNav {

        &:nth-child(1) {
            max-width: 89.89px;
        }

        &:nth-child(2) {
            max-width: 128.76px;
        }

        &:nth-child(3) {
            max-width: 102.34px;
        }

        &:nth-child(4) {
            max-width: 123.59px;
        }

        &:nth-child(5) {
            max-width: 167.28px;
        }

        &:nth-child(6) {
            max-width: 141.9px;
        }

        &:nth-child(7) {
            max-width: 79.46px;
        }
    }
}




@mixin hero-text ($ht-mtmb, $ht-mtlh, $ht-mtfs, $ht-stmb, $ht-stlh, $ht-stfs) {

    &__mainText {
        flex-direction: column;
        margin-bottom: $ht-mtmb;

        &-in {
            line-height: $ht-mtlh;
            font-size: $ht-mtfs;
        }
    }

    &__subText {
        flex-direction: column;
        margin-bottom: $ht-stmb;

        &-in {
            line-height: $ht-stlh;
            font-size: $ht-stfs;
        }
    }

}


@mixin section-heading {

    @media only screen and (min-width: 850px) and (max-width:1330px) {
        margin-top: variables.$sectionLMT;
            
        &__heading {
            font-size: variables.$sectionHeadingFont-L;
            margin-bottom: variables.$sectionHeadLMB;
        }
    }

    @media only screen and (min-width: 550px) and (max-width:850px) {
        margin-top: variables.$sectionMMT;
            
        &__heading {
            font-size: variables.$sectionHeadingFont-M;
            margin-bottom: variables.$sectionHeadMMB;
        }
    }

    @media only screen and (max-width: 550px) {
        margin-top: variables.$sectionSMT;
            
        &__heading {
            font-size: variables.$sectionHeadingFont-S;
            margin-bottom: variables.$sectionHeadSMB;
        }
    }
}