$sectionXMT: 7rem;
$sectionLMT: 6rem;
$sectionMMT: 5rem;
$sectionSMT: 4rem;


$sectionHeadXMB: 4rem;
$sectionHeadLMB: 3rem;
$sectionHeadMMB: 2.5rem;
$sectionHeadSMB: 1.5rem;

$sectionHeadingFont-X: 2rem;
$sectionHeadingFont-L: 1.8rem;
$sectionHeadingFont-M: 1.6rem;
$sectionHeadingFont-S: 1.3rem;


$articleHeadingFont-X: 1.3rem;
$articleHeadingFont-L: 1.2rem;
$articleHeadingFont-M: 1.1rem;
$articleHeadingFont-S: 1rem;



$articleParaFont-L: .9rem;
$articleParaFont-M: .8rem;
$articleParaFont-S: .7rem;


$fontFamily-secondary: "poppins", Arial, Helvetica, sans-serif;